<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2018 Nicholas Smith <mips171@icloud.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content" id='rbtitle' ><%:Reboot%></h2>
<br />

<p id='intro' ><%:Rebooting takes approximately three minutes.%></p>

<%- local c = require("luci.model.uci").cursor():changes(); if c and next(c) then -%>
	<p class="alert-message warning"><%:Note: There are unsaved changes that will be lost on reboot.  <br>If you want to review the changes first, click the <em>unsaved changes</em> button in the upper right-hand corner.%></p>
<%- end -%>

<hr />
<script src="<%=resource%>/bars.js"></script>               

<script type="text/javascript">
	var tries = 0;

	function ok() {
		window.location = '<%=controller%>/admin';
	}

	function check() {
		window.setTimeout(ping, 5000);
	}

	function ping() {
		var img = document.createElement('img');

		img.onload = ok;
		img.onerror = check;
		img.src = '<%=resource%>/icons/loading.gif?' + Math.random();
		
		if (tries++ >= 100) {
			message.classList.remove('notice');
			message.classList.add('warning');
			label.innerHTML = '<%:Unable to reach to the device.  You may need to reconnect to the wireless network or check the IP settings of your computer.  <br>The default IP address of this device is <a href="https://192.168.1.1">192.168.1.1</a>. <br>The default wireless network name is <em><u>Telco T1 2.4GHz</u></em>.%>';
		}
	}

	function reboot(button) {
		button.style.display = 'none';
		document.getElementById('rbtitle').style.display = 'none';
		document.getElementById('intro').style.display = 'none';
		
		if (window.location.href.includes("/luci/admin/system/reboot") == true) {
		        document.getElementById('reboot-message').style.display = 'block';
                }

		(new XHR()).post('<%=controller%>/admin/system/reboot/call', { token: '<%=token%>' }, check);
	}
</script>

<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform reboot%>" onclick="reboot(this)" />

	<span id="reboot-message" style="display: none;">
	<h1>Reboot progress</h1><div id='progressbar_reboot'></div><script>addEventListener('load', function() {  createProgressbar('progressbar_reboot', '180s', function() {    window.location.href = (window.location.protocol + "//" + window.location.host)  });});</script>
	<%:Your Telco device is rebooting...%></span>
	

<%+footer%>
