<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Firmware and Backup%></h2>

<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="#"><%:Actions%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=url('admin/system/flashops/backupfiles')%>"><%:Configuration%></a></li>
</ul>

<div class="cbi-section">
	<h3><%:Backup%></h3>
	<div class="cbi-section-descr"><%:You can download a backup file of the current configuration.%></div>
	<div class="cbi-section-node">
		<form class="inline" method="post" action="<%=url('admin/system/flashops/backup')%>">
			<input type="hidden" name="token" value="<%=token%>" />
			<div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
				<label class="cbi-value-title" for="image"><%:Download configuration file%></label>
				<div class="cbi-value-field">
					<input class="cbi-button cbi-button-action important" type="submit" name="backup" value="<%:Download configuration%>" />
				</div>
			</div>
		</form>
	</div>
</div>

<div class="cbi-section">
	<h3><%:Restore or transfer settings%></h3>
	<div class="cbi-section-descr"><%:To restore from a backup, or transfer a configuration from another device, upload a previously downloaded configuration file.%></div>
	<div class="cbi-section-node">
	<form class="inline" method="post" action="<%=url('admin/system/flashops/restore')%>" enctype="multipart/form-data">
		<div class="cbi-value cbi-value-last">
			<label class="cbi-value-title" for="archive"><%:Upload configuration file%>:</label>
			<div class="cbi-value-field">
				<input type="hidden" name="token" value="<%=token%>" />
				<input type="file" name="archive" id="archive" />
				<input type="submit" class="cbi-button cbi-button-action important" name="restore" value="<%:Upload configuration%>" />
				<% if reset_avail then %>
				<div class="cbi-value-description"><%:Configuration will be replaced by the uploaded settings file.%></div>
				<% end %>
			</div>
		</div>
	</form>
	
	<% if backup_invalid then %>
	<div class="cbi-section-error"><%:The configuration file does not appear to be a valid backup (%><em>.gz</em><%:) file.  Please use a file downloaded from a compatible Telco Electronics device.%></div>
	<% end %>
	</div>
</div>

<div class="cbi-section">
	<h3><%:Install new firmware%></h3>
	<% if upgrade_avail then %>
		<form method="post" action="<%=url('admin/system/flashops/sysupgrade')%>" enctype="multipart/form-data">
			<input type="hidden" name="token" value="<%=token%>" />
			<div class="cbi-section-descr"><%:Upload a firmware file here to replace the running firmware. Firmware files are in %><em><abbr title="e.g. telcos-1.0-melaleuca-tel-t1.bin">.bin</abbr></em> <%:format. Leave the %><em>keep settings</em><%: option ticked if you want to retain the current configuration.%></div>
			<div class="cbi-section-node">
				<div class="cbi-value">
					<label class="cbi-value-title" for="keep"><%:Keep settings%></label>
					<div class="cbi-value-field">
						<input type="checkbox" name="keep" id="keep" checked="checked" />
					</div>
				</div>
				<% if image_invalid then %>
				<div class="cbi-value">
					<label class="cbi-value-title" for="force"><%:Force upgrade%></label>
					<div class="cbi-value-field">
						<input type="checkbox" name="force" id="force" />
					</div>
					<div class="cbi-section-error">
						<%:The uploaded image file may not be compatible with this device. Make sure that you are using a compatible image supplied by Telco Electronics. %>
						<%:Tick 'Force upgrade' to install the firmware even if the check failed. Use only if you are sure that the firmware is correct and meant for your device. %>
					</div>
				</div>
				<% end %>
				<div class="cbi-value cbi-value-last<% if image_invalid then %> cbi-value-error<% end %>">
					<label class="cbi-value-title" for="image"><%:Firmware file%></label>
					<div class="cbi-value-field">
						<input type="file" name="image" id="image" />
						<input type="submit" class="cbi-button cbi-button-action important" value="<%:Install firmware%>" />
					</div>
				</div>
			</div>
		</form>
	<% else %>
		<div class="cbi-section-descr"><%:Sorry, there is no sysupgrade support present; a new firmware image must be flashed manually. Please refer to the wiki for device specific install instructions.%></div>
	<% end %>
</div>

<div class="cbi-section">
	<h3><%:Reset%></h3>
	<div class="cbi-section-descr"><%:To reset the firmware to its initial state, click %><em>perform reset</em><%:.%></div>
	<div class="cbi-section-node">
		<% if reset_avail then %>
		<form class="inline" method="post" action="<%=url('admin/system/flashops/reset')%>">
			<input type="hidden" name="token" value="<%=token%>" />
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title"><%:Reset to defaults%>:</label>
				<div class="cbi-value-field">
					<input onclick="return confirm('<%:This will reset the device to factory defaults.  Do you wish to proceed?%>')" class="cbi-button cbi-button-reset" type="submit" name="reset" value="<%:Perform reset%>" />
				</div>
			</div>
		</form>
		<% end %>
</div>

<%+footer%>
